<!-- <div class="mp3-player">
  <div class="sound-bars">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</div> -->

<div class="bg-fondo" (click)="llamaFuncion()">
  <div
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 50px;
    "
  >
    <img
      *ngIf="btnComienza"
      src="../assets/img/15f7838826.gif"
      alt=""
      width="200px"
      height="150px"
    />
    <a class="letra">{{ fraseSemana }}</a>

    <p *ngIf="btnComienza">
      <span class="video-control" data-func="playVideo" style="cursor: pointer"
        ><img src="../assets/img/play.svg" width="80px" height="80px"
      /></span>
      <span
        (click)="pausa()"
        class="video-control"
        data-func="pauseVideo"
        style="cursor: pointer"
      >
        <img src="../assets/img/paused.svg" width="80px" height="80px"
      /></span>
    </p>
  </div>

  <iframe
    style="display: none"
    #videoFrame
    [src]="safeUrl"
    allow="autoplay"
  ></iframe>
  <div
    style="
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    "
  >
    <a class="letrasb" *ngIf="!letraDesaparece"
      >Haz click sobre cualquier tecla y empieza a relajarte</a
    >
    <a class="letrasb" *ngIf="letraDesaparece">{{ namelofi }}</a>
    <a class="letrac" (click)="openModal()" *ngIf="letraDesaparece"
      >Cambio de estación</a
    >
  </div>
</div>

<div class="modal" *ngIf="isModalOpen">
  <div class="loading" *ngIf="loading">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>
  <div class="modal-content" *ngIf="!loading">
    <button class="close-button" (click)="closeModal()">&#10006;</button>
    <h2>Selecciona una opción:</h2>
    <div class="options">
      <div
        class="option"
        *ngFor="let option of options"
        (click)="selectOption(option)"
      >
        <div
          class="option-inner"
          [ngClass]="{ selected: option.id === selectedOption }"
        >
          <img [src]="option.img" alt="Imagen" />
          <a class="option-name">{{ option.name }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
